<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/html">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navi(activeTab)">
    <<div class="d-flex p-2">
    <a class="navbar-brand" th:href="@{/player/all}">TT NSk</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'PlayerList' ? 'active' : ''}" aria-current="page" th:href="@{/player/all}"
                    th:text="'Игроки(' + ${session.count == null ? '0)' : session.count + ')'}"></a>
            </li>
            <li sec:authorize="hasAuthority('player.create')" class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'PlayerForm' ? 'active' : ''}" aria-current="page" th:href="@{/player}">Добавить игрока</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'TourInfo' ? 'active' : ''}" th:href="@{/tour/all}">Турниры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'Video' ? 'active' : ''}" th:href="@{/video}">Трансляция</a>
            </li>
            <li sec:authorize="hasAuthority('player.create')" class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'TourNew' ? 'active' : ''}" th:href="@{/tour/new}">Создать турнир</a>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'Participate' ? 'active' : ''}" th:href="@{/tour}"
                   th:text="'Участники(' + ${session.countPlaying == null ? '0)' : session.countPlaying + ')'}"></a>
<!--                    th:text="'Участвовать(' + ${players.size() == null ? '0)' : players.size() + ')'}"></a>-->

<!--            th:each="imageId, i : ${playerImagesId}" class="carousel-item"-->
<!--            th:classappend="${i.index==0 ? 'active' : ''}">-->
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${activeTab == 'Rules' ? 'active' : ''}" th:href="@{/rules}">Правила турнира</a>
            </li>
        </ul>
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:classappend="${activeTab == 'Cart' ? 'active' : ''}" th:href="@{/cart}"-->
<!--                   th:text="'Корзина(' + ${session.cart == null ? '0)' : session.cart.totalQuantity + ')'}"></a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" th:classappend="${activeTab == 'Order' ? 'active' : ''}" th:href="@{/order}"-->
<!--                   th:text="'Заказ(' + ${session.cart == null ? '0)' : session.cart.totalPrice + ' руб.)'}"></a>&ndash;&gt;-->
<!--                &lt;!&ndash;             th:text="'Заказ(' + ${order.price + ')'}"></a>&ndash;&gt;-->
<!--                &lt;!&ndash;          // not sure session.order&ndash;&gt;-->
<!--            </li>-->
        <ul class="navbar-nav">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-danger" value="Выйти"/>
                </form>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a type="button" th:href="@{/auth/login}" class="btn btn-success">Войти</a>
            </li>
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a type="button" th:href="@{/auth/registration}" class="btn btn-primary">Регистрация</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
<!--                    <button class="btn btn-success me-md-2" type="button">Участвовать</button>-->
                <a class="btn btn-success" th:action="@{/tour/participate}" role="button">Участвовать</a>
<!--                    <button class="btn btn-primary" type="button">Кнопка</button>-->
            </li>
            </div>
        </ul>
    </div>
</div>
</nav>

</body>
</html>