<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Setting score</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<var allTypes=[1,2,3]></var>

<div th:replace="~{common/navbar :: navi(TourInfo)}"></div>

<table class="table table-striped table-bordered table table-sm">
    <thead class="table-secondary">
    <th scope="col" width="40px">№</th>
    <th scope="col" width="400px">Первый игрок</th>
    <th scope="col" width="400px">Второй игрок</th>
    <th scope="col" width="100px">Первый сет</th>
    <th scope="col" width="100px">Второй сет</th>
    <th scope="col" width="100px">Третий сет</th>
    </thead>


    <tbody data-mdb-spy="scroll">


    <tr th:each="game, iter : ${tournament.getGamesList}">
        <th scope="col" th:text="${iter.count}"></th>
        <th scope="col"
            th:text="${tournament.getGamesList.get(iter.count - 1).getPlayerPair.getFirst.firstname + ' ' + tournament.getGamesList.get(iter.count - 1).getPlayerPair.getFirst.lastname}"></th>
        <th scope="col"
            th:text="${tournament.getGamesList.get(iter.count - 1).getPlayerPair.getSecond.firstname + ' ' + tournament.getGamesList.get(iter.count - 1).getPlayerPair.getSecond.lastname}"></th>

        <th scope="col"
            th:action="@{/courier/notInTime}" method="post">
            <select class="form-control" id="playSet1" name="task">
                <option th:option="${game.getPlaySets[0]}"
                        th:text="${game.getPlaySets[0]}"></option>
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </th>

        <th scope="col">
            <select class="form-control" id="playSet2" name="task">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>

        </th>

        <th scope="col"
            th:action="@{/courier/notInTime}" method="post">
            <select class="form-control" id="playSet3" name="task">
                <option value="1">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <!--                <button type="submit">Not in time</button>-->

        </th>

        <br>
    </tr>

</table>

<td>
    <a
       type="button" id="sss" th:href="@{'/tour/setscore/0/1/0'}"
       class="btn btn-warning">Save</a>



</td>
<th
        th:text="${tournament.getGamesList.get(0).getPlaySets[0]}">
</th>
</body>

</html>

