<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Participate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="~{common/navbar :: navi(Participate)}"></div>

<div class="d-flex justify-content-center">
    <form class="row g-3 needs-validation" th:object="${score}" th:action="@{/tour/count(id=${tour.id})}" method="post"
          enctype="multipart/form-data">
    <span th:if="${countPlaying == 0}">Игроков нет</span>
    <div th:unless="${countPlaying == 0}">
     <div>
        <table class="table table-striped table-bordered table table-sm">
            <thead class="table-secondary">
            <tr>
                <th scope="col">№</th>
                <th colspan="2" scope="col">Фамилия Имя/Рейтинг</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">Рейтинг</th>
                <th scope="col">Дельта</th>
                <th scope="col">Сеты</th>
                <th scope="col">Место</th>
            </tr>
            </thead>
            <tbody data-mdb-spy="scroll">
            <tr>
                <div th:insert="fragments/first-five.html"/>
                <td width="60px">
                    <input
                            type="text" id = "x1y6"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx1y6)}"
                            value=""
                            th:style="${(score.x1y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x1y6 == '1/3'
                                || score.x1y6 == '0/3' || score.x1y6 == '2/3' || score.x1y6 == '0.3' || score.x1y6 == '1.3'
                                || score.x1y6 == '2,3' || score.x1y6 == '0,3' || score.x1y6 == '1,3'
                                || score.x1y6 == '2.3')}? 'color: red;' : (${(score.x1y6 == '1/2'
                                || score.x1y6 == '0/2' || score.x1y6 == '0.2' || score.x1y6 == '1.2'
                                )}? 'color: green;' : (${(score.x1y6 == '1/4'|| score.x1y6 == '2/4' || score.x1y6 == '2.4' || score.x1y6 == '3.4'
                                || score.x1y6 == '0/4' || score.x1y6 == '0.4' || score.x1y6 == '1.4' || score.x1y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x1y6}"
                    />
                </td>
                <td width="60px">
                    <input
                            type="text" id = "x1y7"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx1y7)}"
                            value=""
                            th:style="${(score.x1y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x1y7 == '1/3'
                                || score.x1y7 == '0/3' || score.x1y7 == '2/3' || score.x1y7 == '0.3' || score.x1y7 == '1.3'
                                || score.x1y7 == '2,3' || score.x1y7 == '0,3' || score.x1y7 == '1,3'
                                || score.x1y7 == '2.3')}? 'color: red;' : (${(score.x1y7 == '1/2'
                                || score.x1y7 == '0/2' || score.x1y7 == '0.2' || score.x1y7 == '1.2'
                                )}? 'color: green;' : (${(score.x1y7 == '1/4'|| score.x1y7 == '2/4' || score.x1y7 == '2.4' || score.x1y7 == '3.4'
                                || score.x1y7 == '0/4' || score.x1y7 == '0.4' || score.x1y7 == '1.4' || score.x1y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x1y7}"
                    />
                </td>
                <div th:insert="fragments/scoring-first-player.html"/>
            </tr>
            <tr>
                <div th:insert="fragments/second-five.html"/>
                <td width="60px">
                    <input
                            type="text" id = "x2y6"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx2y6)}"
                            value=""
                            th:style="${(score.x2y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y6 == '1/3'
                                || score.x2y6 == '0/3' || score.x2y6 == '2/3' || score.x2y6 == '0.3' || score.x2y6 == '1.3'
                                || score.x2y6 == '2,3' || score.x2y6 == '0,3' || score.x2y6 == '1,3'
                                || score.x2y6 == '2.3')}? 'color: red;' : (${(score.x2y6 == '1/2'
                                || score.x2y6 == '0/2' || score.x2y6 == '0.2' || score.x2y6 == '1.2'
                                )}? 'color: green;' : (${(score.x2y6 == '1/4'|| score.x2y6 == '2/4' || score.x2y6 == '2.4' || score.x2y6 == '3.4'
                                || score.x2y6 == '0/4' || score.x2y6 == '0.4' || score.x2y6 == '1.4' || score.x2y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x2y6}"
                    />
                </td>
                <td width="60px">
                    <input
                            type="text" id = "x2y7"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx2y7)}"
                            value=""
                            th:style="${(score.x2y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y7 == '1/3'
                                || score.x2y7 == '0/3' || score.x2y7 == '2/3' || score.x2y7 == '0.3' || score.x2y7 == '1.3'
                                || score.x2y7 == '2,3' || score.x2y7 == '0,3' || score.x2y7 == '1,3'
                                || score.x2y7 == '2.3')}? 'color: red;' : (${(score.x2y7 == '1/2'
                                || score.x2y7 == '0/2' || score.x2y7 == '0.2' || score.x2y7 == '1.2'
                                )}? 'color: green;' : (${(score.x2y7 == '1/4'|| score.x2y7 == '2/4' || score.x2y7 == '2.4' || score.x2y7 == '3.4'
                                || score.x2y7 == '0/4' || score.x2y7 == '0.4' || score.x2y7 == '1.4' || score.x2y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x2y7}"
                    />
                </td>
                <div th:insert="fragments/scoring-second-player.html"/>
            </tr>
            <tr>
                <div th:insert="fragments/third-five.html"/>
                <td width="60px">
                    <input
                            type="text" id = "x3y6"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx3y6)}"
                            value=""
                            th:style="${(score.x3y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x3y6 == '1/3'
                                || score.x3y6 == '0/3' || score.x3y6 == '2/3' || score.x3y6 == '0.3' || score.x3y6 == '1.3'
                                || score.x3y6 == '2,3' || score.x3y6 == '0,3' || score.x3y6 == '1,3'
                                || score.x3y6 == '2.3')}? 'color: red;' : (${(score.x3y6 == '1/2'
                                || score.x3y6 == '0/2' || score.x3y6 == '0.2' || score.x3y6 == '1.2'
                                )}? 'color: green;' : (${(score.x3y6 == '1/4'|| score.x3y6 == '2/4' || score.x3y6 == '2.4' || score.x3y6 == '3.4'
                                || score.x3y6 == '0/4' || score.x3y6 == '0.4' || score.x3y6 == '1.4' || score.x3y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x3y6}"
                    />
                </td>
                <td width="60px">
                    <input
                            type="text" id = "x3y7"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx3y7)}"
                            value=""
                            th:style="${(score.x3y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x3y7 == '1/3'
                                || score.x3y7 == '0/3' || score.x3y7 == '2/3' || score.x3y7 == '0.3' || score.x3y7 == '1.3'
                                || score.x3y7 == '2,3' || score.x3y7 == '0,3' || score.x3y7 == '1,3'
                                || score.x3y7 == '2.3')}? 'color: red;' : (${(score.x3y7 == '1/2'
                                || score.x3y7 == '0/2' || score.x3y7 == '0.2' || score.x3y7 == '1.2'
                                )}? 'color: green;' : (${(score.x3y7 == '1/4'|| score.x3y7 == '2/4' || score.x3y7 == '2.4' || score.x3y7 == '3.4'
                                || score.x3y7 == '0/4' || score.x3y7 == '0.4' || score.x3y7 == '1.4' || score.x3y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x3y7}"
                    />
                </td>
                <div th:insert="fragments/scoring-third-player.html"/>
            </tr>
            <tr>
                <div th:insert="fragments/fourth-five.html"/>
                <td width="60px">
                    <input
                            type="text" id = "x4y6"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx4y6)}"
                            value=""
                            th:style="${(score.x4y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x4y6 == '1/3'
                                || score.x4y6 == '0/3' || score.x4y6 == '2/3' || score.x4y6 == '0.3' || score.x4y6 == '1.3'
                                || score.x4y6 == '2,3' || score.x4y6 == '0,3' || score.x4y6 == '1,3'
                                || score.x4y6 == '2.3')}? 'color: red;' : (${(score.x4y6 == '1/2'
                                || score.x4y6 == '0/2' || score.x4y6 == '0.2' || score.x4y6 == '1.2'
                                )}? 'color: green;' : (${(score.x4y6 == '1/4'|| score.x4y6 == '2/4' || score.x4y6 == '2.4' || score.x4y6 == '3.4'
                                || score.x4y6 == '0/4' || score.x4y6 == '0.4' || score.x4y6 == '1.4' || score.x4y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x4y6}"
                    />
                </td>
                <td width="60px">
                    <input
                            type="text" id = "x4y7"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx4y7)}"
                            value=""
                            th:style="${(score.x4y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x4y7 == '1/3'
                                || score.x4y7 == '0/3' || score.x4y7 == '2/3' || score.x4y7 == '0.3' || score.x4y7 == '1.3'
                                || score.x4y7 == '2,3' || score.x4y7 == '0,3' || score.x4y7 == '1,3'
                                || score.x4y7 == '2.3')}? 'color: red;' : (${(score.x4y7 == '1/2'
                                || score.x4y7 == '0/2' || score.x4y7 == '0.2' || score.x4y7 == '1.2'
                                )}? 'color: green;' : (${(score.x4y7 == '1/4'|| score.x4y7 == '2/4' || score.x4y7 == '2.4' || score.x4y7 == '3.4'
                                || score.x4y7 == '0/4' || score.x4y7 == '0.4' || score.x4y7 == '1.4' || score.x4y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x4y7}"
                    />
                </td>
                <div th:insert="fragments/scoring-fourth-player.html"/>
            </tr>
            <tr>
                <div th:insert="fragments/fifth-five.html"/>
                <td width="60px">
                    <input
                            type="text" id = "x5y6"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx5y6)}"
                            value=""
                            th:style="${(score.x5y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x5y6 == '1/3'
                                || score.x5y6 == '0/3' || score.x5y6 == '2/3' || score.x5y6 == '0.3' || score.x5y6 == '1.3'
                                || score.x5y6 == '2,3' || score.x5y6 == '0,3' || score.x5y6 == '1,3'
                                || score.x5y6 == '2.3')}? 'color: red;' : (${(score.x5y6 == '1/2'
                                || score.x5y6 == '0/2' || score.x5y6 == '0.2' || score.x5y6 == '1.2'
                                )}? 'color: green;' : (${(score.x5y6 == '1/4'|| score.x5y6 == '2/4' || score.x5y6 == '2.4' || score.x5y6 == '3.4'
                                || score.x5y6 == '0/4' || score.x5y6 == '0.4' || score.x5y6 == '1.4' || score.x5y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x5y6}"
                    />
                </td>
                <td width="60px">
                    <input
                            type="text" id = "x5y7"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx5y7)}"
                            value=""
                            th:style="${(score.x5y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x5y7 == '1/3'
                                || score.x5y7 == '0/3' || score.x5y7 == '2/3' || score.x5y7 == '0.3' || score.x5y7 == '1.3'
                                || score.x5y7 == '2,3' || score.x5y7 == '0,3' || score.x5y7 == '1,3'
                                || score.x5y7 == '2.3')}? 'color: red;' : (${(score.x5y7 == '1/2'
                                || score.x5y7 == '0/2' || score.x5y7 == '0.2' || score.x5y7 == '1.2'
                                )}? 'color: green;' : (${(score.x5y7 == '1/4'|| score.x5y7 == '2/4' || score.x5y7 == '2.4' || score.x5y7 == '3.4'
                                || score.x5y7 == '0/4' || score.x5y7 == '0.4' || score.x5y7 == '1.4' || score.x5y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x5y7}"
                    />
                </td>
                <div th:insert="fragments/scoring-fifth-player.html"/>
            </tr>
            <tr>
                <div th:insert="fragments/sixth-six.html"/>
                <td width="60px">
                    <input
                            type="text" id = "x6y7"
                            class="form-control"
                            th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx6y7)}"
                            value=""
                            th:style="${(score.x6y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x6y7 == '1/3'
                                || score.x6y7 == '0/3' || score.x6y7 == '2/3' || score.x6y7 == '0.3' || score.x6y7 == '1.3'
                                || score.x6y7 == '2,3' || score.x6y7 == '0,3' || score.x6y7 == '1,3'
                                || score.x6y7 == '2.3')}? 'color: red;' : (${(score.x6y7 == '1/2'
                                || score.x6y7 == '0/2' || score.x6y7 == '0.2' || score.x6y7 == '1.2'
                                )}? 'color: green;' : (${(score.x6y7 == '1/4'|| score.x6y7 == '2/4' || score.x6y7 == '2.4' || score.x6y7 == '3.4'
                                || score.x6y7 == '0/4' || score.x6y7 == '0.4' || score.x6y7 == '1.4' || score.x6y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
                            th:field="*{x6y7}"
                    />
                </td>
                <div th:insert="fragments/scoring-sixth-player.html"/>
            </tr>
            <tr>
                <div th:insert="fragments/seventh-seven.html"/>
                <div th:insert="fragments/scoring-seventh-player.html"/>
            </tr>

            </tbody>
        </table>
     </div>
        <div th:insert="fragments/tour-form-score.html"/>
    </div>
    </form>
</div>
<div th:replace="~{common/footer :: footerBlock}"/>
<script src="/script/countServer7.js"></script>
<script src="/script/count.js"></script>
</body>
</html>