
  <th scope="row" id="8">8</th>
  <td colspan="2">
    <div class="d-flex align-items-center">
      <img th:src="@{'/player/image/' + ${player8.id}}" alt="" width="40px" height="40px" class="rounded-circle" />
      <div class="ms-3">
        <p th:text="${player8.lastname + ' ' + player8.firstname + ' ' + player8.rating}" id = "player8" ></p>
      </div>
    </div>
  </td>
  <td width="60px">
    <div>
      <input
              type="text" maxlength="3" id = "x8y1"
              class="form-control"
              th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y1)}"
              value=""
              th:style="${(score.x8y1 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y1 == '1/3'
                                || score.x8y1 == '0/3' || score.x8y1 == '2/3' || score.x8y1 == '0.3' || score.x8y1 == '1.3'
                                || score.x8y1 == '2,3' || score.x8y1 == '0,3' || score.x8y1 == '1,3'
                                || score.x8y1 == '2.3')}? 'color: red;' : (${(score.x8y1 == '1/2'
                                || score.x8y1 == '0/2' || score.x8y1 == '0.2' || score.x8y1 == '1.2'
                                )}? 'color: green;' : (${(score.x8y1 == '1/4'|| score.x8y1 == '2/4' || score.x8y1 == '2.4' || score.x8y1 == '3.4'
                                || score.x8y1 == '0/4' || score.x8y1 == '0.4' || score.x8y1 == '1.4' || score.x8y1 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
              th:field="*{x8y1}"
      />
    </div>
  </td>
  <td width="60px">
    <input
            type="text" maxlength="3" id = "x8y2"
            class="form-control"
            th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y2)}"
            value=""
            th:style="${(score.x8y2 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y2 == '1/3'
                                || score.x8y2 == '0/3' || score.x8y2 == '2/3' || score.x8y2 == '0.3' || score.x8y2 == '1.3'
                                || score.x8y2 == '2,3' || score.x8y2 == '0,3' || score.x8y2 == '1,3'
                                || score.x8y2 == '2.3')}? 'color: red;' : (${(score.x8y2 == '1/2'
                                || score.x8y2 == '0/2' || score.x8y2 == '0.2' || score.x8y2 == '1.2'
                                )}? 'color: green;' : (${(score.x8y2 == '1/4'|| score.x8y2 == '2/4' || score.x8y2 == '2.4' || score.x8y2 == '3.4'
                                || score.x8y2 == '0/4' || score.x8y2 == '0.4' || score.x8y2 == '1.4' || score.x8y2 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x8y2}"
    />
  </td>
  <td width="60px">
    <input
            type="text" maxlength="3" id = "x8y3"
            class="form-control"
            th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y3)}"
            value=""
            th:style="${(score.x8y3 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y3 == '1/3'
                                || score.x8y3 == '0/3' || score.x8y3 == '2/3' || score.x8y3 == '0.3' || score.x8y3 == '1.3'
                                || score.x8y3 == '2,3' || score.x8y3 == '0,3' || score.x8y3 == '1,3'
                                || score.x8y3 == '2.3')}? 'color: red;' : (${(score.x8y3 == '1/2'
                                || score.x8y3 == '0/2' || score.x8y3 == '0.2' || score.x8y3 == '1.2'
                                )}? 'color: green;' : (${(score.x8y3 == '1/4'|| score.x8y3 == '2/4' || score.x8y3 == '2.4' || score.x8y3 == '3.4'
                                || score.x8y3 == '0/4' || score.x8y3 == '0.4' || score.x8y3 == '1.4' || score.x8y3 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x8y3}"
    />
  </td>
  <td width="60px">
    <input
            type="text" maxlength="3" id = "x8y4"
            class="form-control"
            th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y4)}"
            value=""
            th:style="${(score.x8y4 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y4 == '1/3'
                                || score.x8y4 == '0/3' || score.x8y4 == '2/3' || score.x8y4 == '0.3' || score.x8y4 == '1.3'
                                || score.x8y4 == '2,3' || score.x8y4 == '0,3' || score.x8y4 == '1,3'
                                || score.x8y4 == '2.3')}? 'color: red;' : (${(score.x8y4 == '1/2'
                                || score.x8y4 == '0/2' || score.x8y4 == '0.2' || score.x8y4 == '1.2'
                                )}? 'color: green;' : (${(score.x8y4 == '1/4'|| score.x8y4 == '2/4' || score.x8y4 == '2.4' || score.x8y4 == '3.4'
                                || score.x8y4 == '0/4' || score.x8y4 == '0.4' || score.x8y4 == '1.4' || score.x8y4 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x8y4}"
    />
  </td>

  <td width="60px">
    <input
            type="text" maxlength="3" id = "x8y5"
            class="form-control"
            th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y5)}"
            value=""
            th:style="${(score.x8y5 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y5 == '1/3'
                                || score.x8y5 == '0/3' || score.x8y5 == '2/3' || score.x8y5 == '0.3' || score.x8y5 == '1.3'
                                || score.x8y5 == '2,3' || score.x8y5 == '0,3' || score.x8y5 == '1,3'
                                || score.x8y5 == '2.3')}? 'color: red;' : (${(score.x8y5 == '1/2'
                                || score.x8y5 == '0/2' || score.x8y5 == '0.2' || score.x8y5 == '1.2'
                                )}? 'color: green;' : (${(score.x8y5 == '1/4'|| score.x8y5 == '2/4' || score.x8y5 == '2.4' || score.x8y5 == '3.4'
                                || score.x8y5 == '0/4' || score.x8y5 == '0.4' || score.x8y5 == '1.4' || score.x8y5 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x8y5}"
    />
  </td>
  <td width="60px">
    <input
            type="text" maxlength="3" id = "x8y6"
            class="form-control"
            th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y6)}"
            value=""
            th:style="${(score.x8y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y6 == '1/3'
                                || score.x8y6 == '0/3' || score.x8y6 == '2/3' || score.x8y6 == '0.3' || score.x8y6 == '1.3'
                                || score.x8y6 == '2,3' || score.x8y6 == '0,3' || score.x8y6 == '1,3'
                                || score.x8y6 == '2.3')}? 'color: red;' : (${(score.x8y6 == '1/2'
                                || score.x8y6 == '0/2' || score.x8y6 == '0.2' || score.x8y6 == '1.2'
                                )}? 'color: green;' : (${(score.x8y6 == '1/4'|| score.x8y6 == '2/4' || score.x8y6 == '2.4' || score.x8y6 == '3.4'
                                || score.x8y6 == '0/4' || score.x8y6 == '0.4' || score.x8y6 == '1.4' || score.x8y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x8y6}"
    />
  </td>

  <td width="60px">
    <input
            type="text" maxlength="3" id = "x8y7"
            class="form-control"
            th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx8y7)}"
            value=""
            th:style="${(score.x8y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x8y7 == '1/3'
                                || score.x8y7 == '0/3' || score.x8y7 == '2/3' || score.x8y7 == '0.3' || score.x8y7 == '1.3'
                                || score.x8y7 == '2,3' || score.x8y7 == '0,3' || score.x8y7 == '1,3'
                                || score.x8y7 == '2.3')}? 'color: red;' : (${(score.x8y7 == '1/2'
                                || score.x8y7 == '0/2' || score.x8y7 == '0.2' || score.x8y7 == '1.2'
                                )}? 'color: green;' : (${(score.x8y7 == '1/4'|| score.x8y7 == '2/4' || score.x8y7 == '2.4' || score.x8y7 == '3.4'
                                || score.x8y7 == '0/4' || score.x8y7 == '0.4' || score.x8y7 == '1.4' || score.x8y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x8y7}"
    />
  </td>
  <th width="60px" class="table-secondary">TT</th>