<th scope="row" id="4">4</th>
<td colspan="2">
  <div class="d-flex align-items-center">
    <img th:src="@{'/player/image/' + ${player4.id}}" alt="" width="40px" height="40px" class="rounded-circle" />
    <div class="ms-3">
      <p th:text="${player4.lastname + ' ' + player4.firstname + ' ' + player4.rating}" id = "player4" ></p>
    </div>
  </div>
</td>
<td width="60px">
  <div>
    <input
            type="text" maxlength="3" id = "x4y1"
            value=""
            class="form-control"
            th:placeholder="${(player4.rating == 500)}? '0/0' : ${(legUp.fx4y1)}"
            th:style="${(score.x4y1 == '')}? 'background-color: #F5F5F5;' : (${(score.x4y1 == '1/3'
                                || score.x4y1 == '0/3' || score.x4y1 == '2/3' || score.x4y1 == '0.3' || score.x4y1 == '1.3'
                                || score.x4y1 == '2,3' || score.x4y1 == '0,3' || score.x4y1 == '1,3'
                                || score.x4y1 == '2.3')}? 'color: red;' : (${(score.x4y1 == '1/2'
                                || score.x4y1 == '0/2' || score.x4y1 == '0.2' || score.x4y1 == '1.2'
                                )}? 'color: green;' : (${(score.x4y1 == '1/4'|| score.x4y1 == '2/4' || score.x4y1 == '2.4' || score.x4y1 == '3.4'
                                || score.x4y1 == '0/4' || score.x4y1 == '0.4' || score.x4y1 == '1.4' || score.x4y1 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
            th:field="*{x4y1}"
    />
  </div>
</td>
<td width="60px">
  <input
          type="text" maxlength="3" id = "x4y2"
          class="form-control"
          th:placeholder="${(player4.rating == 500)}? '0/0' : ${(legUp.fx4y2)}"
          th:style="${(score.x4y2 == '')}? 'background-color: #F5F5F5;' : (${(score.x4y2 == '1/3'
                                || score.x4y2 == '0/3' || score.x4y2 == '2/3' || score.x4y2 == '0.3' || score.x4y2 == '1.3'
                                || score.x4y2 == '2,3' || score.x4y2 == '0,3' || score.x4y2 == '1,3'
                                || score.x4y2 == '2.3')}? 'color: red;' : (${(score.x4y2 == '1/2'
                                || score.x4y2 == '0/2' || score.x4y2 == '0.2' || score.x4y2 == '1.2'
                                )}? 'color: green;' : (${(score.x4y2 == '1/4'|| score.x4y2 == '2/4' || score.x4y2 == '2.4' || score.x4y2 == '3.4'
                                || score.x4y2 == '0/4' || score.x4y2 == '0.4' || score.x4y2 == '1.4' || score.x4y2 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          value=""
          th:field="*{x4y2}"
  />
</td>
<td width="60px">
  <input
          type="text" maxlength="3" id = "x4y3"
          class="form-control"
          th:placeholder="${(player4.rating == 500)}? '0/0' : ${(legUp.fx4y3)}"
          th:style="${(score.x4y3 == '')}? 'background-color: #F5F5F5;' : (${(score.x4y3 == '1/3'
                                || score.x4y3 == '0/3' || score.x4y3 == '2/3' || score.x4y3 == '0.3' || score.x4y3 == '1.3'
                                || score.x4y3 == '2,3' || score.x4y3 == '0,3' || score.x4y3 == '1,3'
                                || score.x4y3 == '2.3')}? 'color: red;' : (${(score.x4y3 == '1/2'
                                || score.x4y3 == '0/2' || score.x4y3 == '0.2' || score.x4y3 == '1.2'
                                )}? 'color: green;' : (${(score.x4y3 == '1/4'|| score.x4y3 == '2/4' || score.x4y3 == '2.4' || score.x4y3 == '3.4'
                                || score.x4y3 == '0/4' || score.x4y3 == '0.4' || score.x4y3 == '1.4' || score.x4y3 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          value=""
          th:field="*{x4y3}"
  />
</td>
<th width="60px" class="table-secondary">TT</th>
<td width="60px">
  <input
          type="text" maxlength="3" id = "x4y5"
          class="form-control"
          th:placeholder="${(player5.rating == 500)}? '0/0' : ${(legUp.fx4y5)}"
          th:style="${(score.x4y5 == '')}? 'background-color: #F5F5F5;' : (${(score.x4y5 == '1/3'
                                || score.x4y5 == '0/3' || score.x4y5 == '2/3' || score.x4y5 == '0.3' || score.x4y5 == '1.3'
                                || score.x4y5 == '2,3' || score.x4y5 == '0,3' || score.x4y5 == '1,3'
                                || score.x4y5 == '2.3')}? 'color: red;' : (${(score.x4y5 == '1/2'
                                || score.x4y5 == '0/2' || score.x4y5 == '0.2' || score.x4y5 == '1.2'
                                )}? 'color: green;' : (${(score.x4y5 == '1/4'|| score.x4y5 == '2/4' || score.x4y5 == '2.4' || score.x4y5 == '3.4'
                                || score.x4y5 == '0/4' || score.x4y5 == '0.4' || score.x4y5 == '1.4' || score.x4y5 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          value=""
          th:field="*{x4y5}"
  />
</td>