<th id="rating6"
    th:text="${#numbers.formatDecimal(result6.rating, 1, 2)}"
    th:style="${(result6.set == 0.0)}? 'color: transparent;' : 'font-weight: bold;'"></th>
<th id="delta6"
    th:text="${#numbers.formatDecimal(result6.delta, 1, 2)}"
    th:style="${(result6.set == 0.0)}? 'color: transparent;' : 'font-weight: bold;'"></th>
<th id="set6"
    th:text="${result6.set + '/' + result6.setWin + '/' + result6.countWin}"
    th:style="${(result6.set == 0.0)}? 'color: transparent;' : 'font-weight: bold;'"></th>
<th id="place6" th:text="${result6.placePlayer}"
    th:style="${(result6.set < 15)}? 'color: transparent;' : 'font-weight: bold;'"></th>