<th scope="row" id="2">2</th>
<td colspan="2">
  <div class="d-flex align-items-center">
    <img th:src="@{'/player/image/' + ${player2.id}}" alt="" width="40px" height="40px" class="rounded-circle" />
    <div class="ms-3">
      <p  th:text="${player2.lastname + ' ' + player2.firstname + ' ' + player2.rating}" id = "player2"></p>
    </div>
  </div>
</td>
<td width="60px">
  <input
          type="text" id = "x2y1"
          class="form-control"
          th:placeholder="${(player2.rating == 500)}? '0/0' : ${(legUp.fx2y1)}"
          value=""
          th:style="${(score.x2y1 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y1 == '1/3'
                                || score.x2y1 == '0/3' || score.x2y1 == '2/3' || score.x2y1 == '0.3' || score.x2y1 == '1.3'
                                || score.x2y1 == '2,3' || score.x2y1 == '0,3' || score.x2y1 == '1,3'
                                || score.x2y1 == '2.3')}? 'color: red;' : (${(score.x2y1 == '1/2'
                                || score.x2y1 == '0/2' || score.x2y1 == '0.2' || score.x2y1 == '1.2'
                                )}? 'color: green;' : (${(score.x2y1 == '1/4'|| score.x2y1 == '2/4' || score.x2y1 == '2.4' || score.x2y1 == '3.4'
                                || score.x2y1 == '0/4' || score.x2y1 == '0.4' || score.x2y1 == '1.4' || score.x2y1 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y1}"
  />
</td>
<th width="60px" class="table-secondary">TT</th>
<td width="60px">
  <input
          type="text" id = "x2y3"
          class="form-control"
          th:placeholder="${(player3.rating == 500)}? '0/0' : ${(legUp.fx2y3)}"
          value=""
          th:style="${(score.x2y3 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y3 == '1/3'
                                || score.x2y3 == '0/3' || score.x2y3 == '2/3' || score.x2y3 == '0.3' || score.x2y3 == '1.3'
                                || score.x2y3 == '2,3' || score.x2y3 == '0,3' || score.x2y3 == '1,3'
                                || score.x2y3 == '2.3')}? 'color: red;' : (${(score.x2y3 == '1/2'
                                || score.x2y3 == '0/2' || score.x2y3 == '0.2' || score.x2y3 == '1.2'
                                )}? 'color: green;' : (${(score.x2y3 == '1/4'|| score.x2y3 == '2/4' || score.x2y3 == '2.4' || score.x2y3 == '3.4'
                                || score.x2y3 == '0/4' || score.x2y3 == '0.4' || score.x2y3 == '1.4' || score.x2y3 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y3}"
  />
</td>
<td width="60px">
  <input
          type="text" id = "x2y4"
          class="form-control"
          th:placeholder="${(player4.rating == 500)}? '0/0' : ${(legUp.fx2y4)}"
          value=""
          th:style="${(score.x2y4 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y4 == '1/3'
                                || score.x2y4 == '0/3' || score.x2y4 == '2/3' || score.x2y4 == '0.3' || score.x2y4 == '1.3'
                                || score.x2y4 == '2,3' || score.x2y4 == '0,3' || score.x2y4 == '1,3'
                                || score.x2y4 == '2.3')}? 'color: red;' : (${(score.x2y4 == '1/2'
                                || score.x2y4 == '0/2' || score.x2y4 == '0.2' || score.x2y4 == '1.2'
                                )}? 'color: green;' : (${(score.x2y4 == '1/4'|| score.x2y4 == '2/4' || score.x2y4 == '2.4' || score.x2y4 == '3.4'
                                || score.x2y4 == '0/4' || score.x2y4 == '0.4' || score.x2y4 == '1.4' || score.x2y4 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y4}"
  />
</td>
<td width="60px">
  <input
          type="text" id = "x2y5"
          class="form-control"
          th:placeholder="${(player5.rating == 500)}? '0/0' : ${(legUp.fx2y5)}"
          value=""
          th:style="${(score.x2y5 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y5 == '1/3'
                                || score.x2y5 == '0/3' || score.x2y5 == '2/3' || score.x2y5 == '0.3' || score.x2y5 == '1.3'
                                || score.x2y5 == '2,3' || score.x2y5 == '0,3' || score.x2y5 == '1,3'
                                || score.x2y5 == '2.3')}? 'color: red;' : (${(score.x2y5 == '1/2'
                                || score.x2y5 == '0/2' || score.x2y5 == '0.2' || score.x2y5 == '1.2'
                                )}? 'color: green;' : (${(score.x2y5 == '1/4'|| score.x2y5 == '2/4' || score.x2y5 == '2.4' || score.x2y5 == '3.4'
                                || score.x2y5 == '0/4' || score.x2y5 == '0.4' || score.x2y5 == '1.4' || score.x2y5 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y5}"
  />
</td>