<div class="col-md-12" >
  <div class="input-group">
    <button  type="submit" class="btn btn-success" id="calculate">Рассчитать</button>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Очередность игр</button>
    <input sec:authorize="hasAuthority('player.create')" type="text" class="form-control"
           placeholder="Введите кол-во столов" aria-label="Sizing example input"
           aria-describedby="inputGroup-sizing-default" disabled>
    <button sec:authorize="hasAuthority('player.create')" class="btn btn-primary" id="save"
            th:disabled="${!(score.endTour)}">
      <a class="btn btn-primary" th:href="@{/tour/save(id=${tour.id})}" >Сохранить</a>
    </button>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Порядок игр</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
  </div>
  <div class="offcanvas-body">
    <table class="table table-striped table-hover">
      <thead class="table-secondary">
      <tr>
        <th scope="col">№</th>
        <th scope="col">Игроки:</th>
        <th scope="col">Стол №</th>
      </tr>
      </thead>
      <tbody data-mdb-spy="scroll">
      <tr th:each="pair, i : ${pairs}">
        <th scope="row" th:text="${i.count}"></th>
        <td>
          <div class="d-flex">
            <div class="ms-3">
              <p th:text="${pair.player1.lastname + ' ' + pair.player2.lastname}"></p>
            </div>
          </div>
        </td>
        <th scope="row" th:text="${i.count}"></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<foot>
  <br>
  <br>
  <br>
</foot>