<td width="60px">
  <input
          type="text" id = "x5y9"
          class="form-control"
          th:placeholder="${(player9.rating == 500)}? '0/0' : ${(legUp.fx5y9)}"
          value=""
          th:style="${(score.x5y9 == '')}? 'background-color: #F5F5F5;' : (${(score.x5y9 == '1/3'
                                || score.x5y9 == '0/3' || score.x5y9 == '2/3' || score.x5y9 == '0.3' || score.x5y9 == '1.3'
                                || score.x5y9 == '2,3' || score.x5y9 == '0,3' || score.x5y9 == '1,3'
                                || score.x5y9 == '2.3')}? 'color: red;' : (${(score.x5y9 == '1/2'
                                || score.x5y9 == '0/2' || score.x5y9 == '0.2' || score.x5y9 == '1.2'
                                )}? 'color: green;' : (${(score.x5y9 == '1/4'|| score.x5y9 == '2/4' || score.x5y9 == '2.4' || score.x5y9 == '3.4'
                                || score.x5y9 == '0/4' || score.x5y9 == '0.4' || score.x5y9 == '1.4' || score.x5y9 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x5y9}"
  />
</td>
<td width="60px">
  <input
          type="text" id = "x5y10"
          class="form-control"
          th:placeholder="${(player10.rating == 500)}? '0/0' : ${(legUp.fx5y10)}"
          value=""
          th:style="${(score.x5y10 == '')}? 'background-color: #F5F5F5;' : (${(score.x5y10 == '1/3'
                                || score.x5y10 == '0/3' || score.x5y10 == '2/3' || score.x5y10 == '0.3' || score.x5y10 == '1.3'
                                || score.x5y10 == '2,3' || score.x5y10 == '0,3' || score.x5y10 == '1,3'
                                || score.x5y10 == '2.3')}? 'color: red;' : (${(score.x5y10 == '1/2'
                                || score.x5y10 == '0/2' || score.x5y10 == '0.2' || score.x5y10 == '1.2'
                                )}? 'color: green;' : (${(score.x5y10 == '1/4'|| score.x5y10 == '2/4' || score.x5y10 == '2.4' || score.x5y10 == '3.4'
                                || score.x5y10 == '0/4' || score.x5y10 == '0.4' || score.x5y10 == '1.4' || score.x5y10 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x5y10}"
  />
</td>
<td width="60px">
  <input
          type="text" id = "x5y11"
          class="form-control"
          th:placeholder="${(player11.rating == 500)}? '0/0' : ${(legUp.fx5y11)}"
          value=""
          th:style="${(score.x5y11 == '')}? 'background-color: #F5F5F5;' : (${(score.x5y11 == '1/3'
                                || score.x5y11 == '0/3' || score.x5y11 == '2/3' || score.x5y11 == '0.3' || score.x5y11 == '1.3'
                                || score.x5y11 == '2,3' || score.x5y11 == '0,3' || score.x5y11 == '1,3'
                                || score.x5y11 == '2.3')}? 'color: red;' : (${(score.x5y11 == '1/2'
                                || score.x5y11 == '0/2' || score.x5y11 == '0.2' || score.x5y11 == '1.2'
                                )}? 'color: green;' : (${(score.x5y11 == '1/4'|| score.x5y11 == '2/4' || score.x5y11 == '2.4' || score.x5y11 == '3.4'
                                || score.x5y11 == '0/4' || score.x5y11 == '0.4' || score.x5y11 == '1.4' || score.x5y11 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x5y11}"
  />
</td>