<td width="60px">
  <input
          type="text" maxlength="3" id = "x2y9"
          class="form-control"
          th:placeholder="${(player9.rating == 500)}? '0/0' : ${(legUp.fx2y9)}"
          value=""
          th:style="${(score.x2y9 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y9 == '1/3'
                                || score.x2y9 == '0/3' || score.x2y9 == '2/3' || score.x2y9 == '0.3' || score.x2y9 == '1.3'
                                || score.x2y9 == '2,3' || score.x2y9 == '0,3' || score.x2y9 == '1,3'
                                || score.x2y9 == '2.3')}? 'color: red;' : (${(score.x2y9 == '1/2'
                                || score.x2y9 == '0/2' || score.x2y9 == '0.2' || score.x2y9 == '1.2'
                                )}? 'color: green;' : (${(score.x2y9 == '1/4'|| score.x2y9 == '2/4' || score.x2y9 == '2.4' || score.x2y9 == '3.4'
                                || score.x2y9 == '0/4' || score.x2y9 == '0.4' || score.x2y9 == '1.4' || score.x2y9 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y9}"
  />
</td>
<td width="60px">
  <input
          type="text" maxlength="3" id = "x2y10"
          class="form-control"
          th:placeholder="${(player10.rating == 500)}? '0/0' : ${(legUp.fx2y10)}"
          value=""
          th:style="${(score.x2y10 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y10 == '1/3'
                                || score.x2y10 == '0/3' || score.x2y10 == '2/3' || score.x2y10 == '0.3' || score.x2y10 == '1.3'
                                || score.x2y10 == '2,3' || score.x2y10 == '0,3' || score.x2y10 == '1,3'
                                || score.x2y10 == '2.3')}? 'color: red;' : (${(score.x2y10 == '1/2'
                                || score.x2y10 == '0/2' || score.x2y10 == '0.2' || score.x2y10 == '1.2'
                                )}? 'color: green;' : (${(score.x2y10 == '1/4'|| score.x2y10 == '2/4' || score.x2y10 == '2.4' || score.x2y10 == '3.4'
                                || score.x2y10 == '0/4' || score.x2y10 == '0.4' || score.x2y10 == '1.4' || score.x2y10 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y10}"
  />
</td>
<td width="60px">
  <input
          type="text" maxlength="3" id = "x2y11"
          class="form-control"
          th:placeholder="${(player11.rating == 500)}? '0/0' : ${(legUp.fx2y11)}"
          value=""
          th:style="${(score.x2y11 == '')}? 'background-color: #F5F5F5;' : (${(score.x2y11 == '1/3'
                                || score.x2y11 == '0/3' || score.x2y11 == '2/3' || score.x2y11 == '0.3' || score.x2y11 == '1.3'
                                || score.x2y11 == '2,3' || score.x2y11 == '0,3' || score.x2y11 == '1,3'
                                || score.x2y11 == '2.3')}? 'color: red;' : (${(score.x2y11 == '1/2'
                                || score.x2y11 == '0/2' || score.x2y11 == '0.2' || score.x2y11 == '1.2'
                                )}? 'color: green;' : (${(score.x2y11 == '1/4'|| score.x2y11 == '2/4' || score.x2y11 == '2.4' || score.x2y11 == '3.4'
                                || score.x2y11 == '0/4' || score.x2y11 == '0.4' || score.x2y11 == '1.4' || score.x2y11 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x2y11}"
  />
</td>