<td width="60px">
  <input
          type="text" id = "x3y6"
          class="form-control"
          th:placeholder="${(player6.rating == 500)}? '0/0' : ${(legUp.fx3y6)}"
          value=""
          th:style="${(score.x3y6 == '')}? 'background-color: #F5F5F5;' : (${(score.x3y6 == '1/3'
                                || score.x3y6 == '0/3' || score.x3y6 == '2/3' || score.x3y6 == '0.3' || score.x3y6 == '1.3'
                                || score.x3y6 == '2,3' || score.x3y6 == '0,3' || score.x3y6 == '1,3'
                                || score.x3y6 == '2.3')}? 'color: red;' : (${(score.x3y6 == '1/2'
                                || score.x3y6 == '0/2' || score.x3y6 == '0.2' || score.x3y6 == '1.2'
                                )}? 'color: green;' : (${(score.x3y6 == '1/4'|| score.x3y6 == '2/4' || score.x3y6 == '2.4' || score.x3y6 == '3.4'
                                || score.x3y6 == '0/4' || score.x3y6 == '0.4' || score.x3y6 == '1.4' || score.x3y6 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x3y6}"
  />
</td>
<td width="60px">
  <input
          type="text" id = "x3y7"
          class="form-control"
          th:placeholder="${(player7.rating == 500)}? '0/0' : ${(legUp.fx3y7)}"
          value=""
          th:style="${(score.x3y7 == '')}? 'background-color: #F5F5F5;' : (${(score.x3y7 == '1/3'
                                || score.x3y7 == '0/3' || score.x3y7 == '2/3' || score.x3y7 == '0.3' || score.x3y7 == '1.3'
                                || score.x3y7 == '2,3' || score.x3y7 == '0,3' || score.x3y7 == '1,3'
                                || score.x3y7 == '2.3')}? 'color: red;' : (${(score.x3y7 == '1/2'
                                || score.x3y7 == '0/2' || score.x3y7 == '0.2' || score.x3y7 == '1.2'
                                )}? 'color: green;' : (${(score.x3y7 == '1/4'|| score.x3y7 == '2/4' || score.x3y7 == '2.4' || score.x3y7 == '3.4'
                                || score.x3y7 == '0/4' || score.x3y7 == '0.4' || score.x3y7 == '1.4' || score.x3y7 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x3y7}"
  />
</td>
<td width="60px">
  <input
          type="text" id = "x3y8"
          class="form-control"
          th:placeholder="${(player8.rating == 500)}? '0/0' : ${(legUp.fx3y8)}"
          value=""
          th:style="${(score.x3y8 == '')}? 'background-color: #F5F5F5;' : (${(score.x3y8 == '1/3'
                                || score.x3y8 == '0/3' || score.x3y8 == '2/3' || score.x3y8 == '0.3' || score.x3y8 == '1.3'
                                || score.x3y8 == '2,3' || score.x3y8 == '0,3' || score.x3y8 == '1,3'
                                || score.x3y8 == '2.3')}? 'color: red;' : (${(score.x3y8 == '1/2'
                                || score.x3y8 == '0/2' || score.x3y8 == '0.2' || score.x3y8 == '1.2'
                                )}? 'color: green;' : (${(score.x3y8 == '1/4'|| score.x3y8 == '2/4' || score.x3y8 == '2.4' || score.x3y8 == '3.4'
                                || score.x3y8 == '0/4' || score.x3y8 == '0.4' || score.x3y8 == '1.4' || score.x3y8 == '3/4'
                                )}? 'color: #FFAB00;' :'font-weight: bold;')))"
          th:field="*{x3y8}"
  />
</td>